/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#header {
	margin-left: auto;
	margin-right: auto;
/*	width: 500px;*/
	height: 15px;
	position: relative;
}

h1 {
	padding-top: 75px;
	font-family: 'Gafata', sans-serif;
	font-size: 48px;
	color: #30998E;
	text-align: center;
	font-weight: bold;
}



#container {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	background-color: #eee;
/*	background-image: url('http://farm1.staticflickr.com/32/103657967_3b304d2c94.jpg') no-repeat;*/
}


.content {
	margin-top: 180px;
	text-align: left;
	margin-left:  25px;
	padding-bottom: 100px;
}

.desc {
	font-family: 'Gafata', sans-serif;
	font-size: 24px;
	line-height: 1.0em;
	font-weight: 500;
}


#footer {
	border-top: 2px solid #eee;
/*	background-color: #eee;*/
	height: 40px;
	bottom: 0;
	position: absolute;
	clear: both;
	text-align: right;
	border-left: 2px solid #eee;
	border-right: 2px solid #eee;
	width: 696px;
}

.info {
	text-align: right;
	margin-top: 15px;
	margin-right: 50px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #817D7D;
}

li {
	display: inline;
	padding: 10px;
}

a {
	text-decoration: none;
	color: #817D7D;
}

a:hover {
	color: #30998E;
}

.skedaddle {
	color: #30998E;
	font-weight: bold;
}