/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	line-height: 1;
	margin: 0;
	padding: 0;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	background-color: #eee;
}


#container {
	min-height: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	background-color: white;
	 -moz-box-shadow:   0 0 10px #ccc;
  	-webkit-box-shadow: 0 0 10px #ccc;
  	box-shadow:         0 0 10px #ccc;
}


#header {
	margin-left: auto;
	margin-right: auto;
/*	width: 500px;*/
	height: 200px;
	position: relative;
/*	background: url("road.jpg") no-repeat center center;*/
	text-align: center;
/*	opacity: 0.4;*/
}

.logo {
	margin-left: auto;
	margin-right: auto;
	padding-top: 75px;
	padding-right: 15px;
	width: 400px;
	height: 200px;
	/*font-family: 'Gafata', sans-serif;*/
	/*font-size: 48px;*/
	/*color: white;*/
	text-align: center;
/*	font-weight: bold;*/
	/*text-shadow: 1px 2px black;*/
	position: relative;
}



#content {
	margin-top: 20px;
	text-align: left;
	margin-left:  25px;
	padding-bottom: 40px;
	padding: 10px;
}

.desc {
	font-family: 'Gafata', sans-serif;
	font-size: 24px;
	line-height: 1.2em;
	font-weight: 500;
}


#footer {
	height: 40px;
	left: 0;
	bottom: 0;
	position: absolute;
	width: 100%;
	clear: both;
}

.info {
	text-align: right;
	margin-top: 15px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #817D7D;
}

li {
	display: inline;
	padding: 0 10px 0px;
}

a {
	text-decoration: none;
	color: #817D7D;
}

a:hover {
	color: #2296F8;
}

.skedaddle {
	color: #2296F8;
	font-weight: bold;
}

.email {
	margin-left: 15px;
	margin-right: auto;
	width: 300px;
	height: 30px;
	font-size: 24px;
	background-color: #FCFCFC;
}